*{
    margin: 0px;
}
.frontpage{
    background-color: black;
    height: 100vh;
}

/* navebar started */
.navebar{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow:  rgb(255, 251, 2) 0px 20px 15px -20px;
}

/* logo */
.logo{
   margin-left: 50px;
}
.logo:hover{
    cursor: pointer;
}

/* liks */
.links{
   display: flex;
   gap: 50px;
   color: white;
}
.link{
    color: white;
    position: relative;
    cursor: pointer;
}
.link::before
{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.link:hover:before
{
width: 100%;
cursor: pointer;
}

/* CV button */
.CV_button{
    margin-right: 50px;
    padding: 10px 20px;
    background-color: rgb(255, 251, 2);
    border-radius: 30px;
    border-style: none;
}
.CV_button:hover{
    background-color: rgb(255, 6, 6);
    cursor: pointer;
    transform: scale(0.95);
    color: white;
}

/* Home started */
.home
{
width: 70%;
height: 90vh;
margin: auto;
display: flex;

}

/* left side */
.left_side
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.left_container
{
width: 100%;
}

.hi_there
{
font-size: 60px;
font-family: "Kurale", serif;
color: white;
}

.name
{
    font-size: 60px;
    font-family: "Kurale", serif;  
    color: white;
}
.name span
{
    color:  rgb(255, 251, 2);
}

.developer
{
    font-size: 30px;
    font-family: "Kalam", cursive;
    color: white;
}
.developer span{
    color: rgb(255, 0, 0);
}

/* about button */
.about_button
{
   width: fit-content;
   background-color: rgb(255, 251, 2);
    font-size: 18px;
    /* color: white; */
    padding: 10px 20px;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    border: none;
}
.about_button:hover{
    cursor: pointer;
    border: none;
    transform: scale(0.95);
    background-color: rgb(255, 1, 1);
    color: white;
}

/* social media icons */
.social_media
{
    margin-top: 40px;
    font-size: 26px;
    display: flex;
    gap: 20px;
    margin-right: 60%;
}
.icon:hover{
    transform: scale(1.1);
    color:  rgb(255, 251, 2);
    cursor: pointer;
}
#social_icon{
    color: white;
}


/* right side */
.right_side
{
    /* border: 1px solid; */
    width: 50%;
    /* background-color: rgb(215, 147, 84); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 350px;
    width: 350px;
    background-color: rgb(255, 251, 2);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.502) 0px 30px 60px -5px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 2px red solid;
}